body {
    margin: 0 !important;
    padding: 0;
    font-size: 16px;
}

.page-section {
    padding: 5em;
}

.page-section h2 {
    font-size: 1.4em;
    font-weight: bold;
    text-transform: uppercase;
}

.standard-section h2 {
    text-align: center;
}

/****************
    $NAVBAR
****************/

.navbar-custom {
    padding: .8em;
    background-color: #28373E;
    border-radius: 0;
}

.navbar-custom a {
    color: #BDC3C7;
}

.nav>li>a:hover,
.nav>li>a:focus {
    background-color: transparent;
    color: #fff;
}

.navbar-custom .navbar-brand {
    color: #1ed6cc;
}

/*override bootstrap style*/
.navbar {
    margin-bottom: 0; 
}



/****************
     $HEADER
****************/

header {
    position: relative;
    width: 100%;
    height: 75vh;
    background: #999 url(../img/baloon.jpg) center center no-repeat;
    background-size: cover;
}

.header-content {
    position: relative;
    top: 40%;
    -webkit-transform: translateY(40%);
    transform: translateY(40%);
    text-align: center;
}

.header-title {
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.header-text {
    font-size: 1.3em;
}

/****************
     $WELCOME
****************/

section.welcome {
    background-color: #fdfdfd;
    text-align: center;
}

/****************
     $SKILLS
****************/

section.skills {
    text-align: center;
}

.skill-box {
    margin-top: 2em;
    margin-bottom: 2em;
}


/****************
     $PROJECTS
****************/
section.projects {
    background-color: #BFBFBF;
    color: #eee;
}

section.projects .row {
    display: table;
    position: relative;
    min-height: 400px; 
}

.project-desc {
    display: table-cell;
    vertical-align: top;
}

.project-desc h2 {
    margin-top: 0;
}

.project-container {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
}

.project-box {
    display: inline-block;
    margin: 0;
    width: 32%;
}

.project-box img {
    margin: 0;
}

/****************
     PROCESS
****************/

section.work-process {
    background-color: #6C7A89;
}

.work-process .container {
/*    margin: 0;*/
   padding: 0;
}

.work-row_top {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    vertical-align: bottom;
}

.work-row_bottom {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    vertical-align: top;
}

.work-box_empty {
    display: inline-block;
    width: 5%;
    min-height: 5em; 
}
.empty-border {
    border-bottom: 1px dotted #fff;
}

.work-box {
    position: relative;
    display: inline-block;
    padding: 1em;
    padding-top: 0;
    width: 23%;
    min-height: 5em;
    
}

.work-box-1 {
    border: 1px dotted #fff;
    border-top: none;
}

.work-box-2 {
    border-right: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
}

.work-box-3 {
    border-right: 1px dotted #fff;
    border-bottom: 1px dotted #fff;
}

.work-box-4 {
    border-bottom: 1px dotted #fff;
}

.work-box-5 {
    border-left: 1px dotted #fff;
    border-right: 1px dotted #fff;
}

.work-box-6 {
    border-right: 1px dotted #fff;
}

.work-box-7 {
    border-right: 1px dotted #fff;
}

.work-box-8 {}

.work-dot {
    position: absolute;
    top: 96.5%;
    left: -2.2%;
    display: inline-block;
    width: .7em;
    height: .75em;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #fff;
}

.work-row_top .work-icon {
    position: absolute;
    top: -10%;
    left: -.9em;
}

.work-row_bottom .work-icon {
    position: absolute;
    top: 85%;
    left: -5.5%;
}

/****************
     $NUMBERS
****************/

section.numbers {
    position: relative;
    background: #999 url(../img/desktop-2.jpg) center center no-repeat;
    background-size: cover;
}

.numbers-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,.3);
}

.me-img {
    position: absolute;
    top: -16em;
    left: 0;
    z-index: 3;
    height: 35em;
}